In [338]:
import pandas as pd
import numpy as np

In [339]:
df = pd.read_excel("Term_Deposit.xlsx", header=2)
df.head()

,ID,Age of the customer,??What is the job of the customer??,MARITUL,EDUCTION,default,BALANCE,Does the customer have a housing loan ??,loan,contact,//day,//month,DURATION,CAMPAIGN,pdays,previous,poutcome,deposit,income,loan_amount
0,1,45,management,married,secondary,no,1025,yes,no,cellular,12,may,365.0,2,76,3,success,yes,50000.0,10000.0
1,2,31,technician,single,tertiary,no,320,no,no,cellular,8,jun,210.0,1,-1,0,unknown,no,35000.0,5000.0
2,3,53,blue-collar,married,primary,no,-120,no,no,telephone,16,nov,185.0,3,92,2,failure,no,40000.0,8000.0
3,4,32,services,single,"""secondary""",no,452,yes,no,cellular,30,July,102.0,4,-1,0,unknown,no,45000.0,12000.0
4,5,29,admin.,single,secondary,no,-112,yes,no,cellular,14,aug,309.0,2,-1,0,unknown,yes,60000.0,15000.0

In [340]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID                                        115 non-null    int64
 1   Age of the customer                       115 non-null    int64
 2   ??What is the job of the customer??       115 non-null    object
 3   MARITUL                                   115 non-null    object
 4   EDUCTION                                  115 non-null    object
 5   default                                   115 non-null    object
 6   BALANCE                                   115 non-null    int64
 7   Does the customer have a housing loan ??  115 non-null    object
 8   loan                                      115 non-null    object
 9   contact                                   115 non-null    object
 10  //day                                     115 non-null    int64
 11  //month                                   115 non-null    object
 12  DURATION                                  113 non-null    float64
 13  CAMPAIGN                                  115 non-null    object
 14  pdays                                     115 non-null    int64
 15  previous                                  115 non-null    int64
 16  poutcome                                  115 non-null    object
 17  deposit                                   115 non-null    object
 18  income                                    113 non-null    float64
 19  loan_amount                               113 non-null    float64
dtypes: float64(3), int64(6), object(11)
memory usage: 18.1+ KB

In [341]:
df.tail()

,ID,Age of the customer,??What is the job of the customer??,MARITUL,EDUCTION,default,BALANCE,Does the customer have a housing loan ??,loan,contact,//day,//month,DURATION,CAMPAIGN,pdays,previous,poutcome,deposit,income,loan_amount
110,109,42,blue-collar,married,secondary,no,-139,yes,No,cellular,6,aug,215.0,2,-1,0,unknown,yes,50000.0,10000.0
111,110,51,technician,married,tertiary,no,1231,no,No,cellular,29,jul,114.0,2,-1,0,unknown,yes,75000.0,17000.0
112,111,34,blue-collar,married,primary,no,344,yes,No,cellular,14,may,172.0,"3,0",-1,0,unknown,no,40000.0,6000.0
113,112,50,management,divorced,tertiary,no,589,no,no,cellular,6,feb,189.0,2,-1,0,unknown,yes,90000.0,23000.0
114,113,37,technician,married,tertiary,no,155,yes,no,cellular,13,aug,238.0,2,-1,0,unknown,yes,60000.0,12000.0

In [342]:
df = df.drop_duplicates(keep='first')

In [343]:
df = df.set_index("ID")

In [344]:
df.head()

,Age of the customer,??What is the job of the customer??,MARITUL,EDUCTION,default,BALANCE,Does the customer have a housing loan ??,loan,contact,//day,//month,DURATION,CAMPAIGN,pdays,previous,poutcome,deposit,income,loan_amount
ID,,,,,,,,,,,,,,,,,,,
1,45,management,married,secondary,no,1025,yes,no,cellular,12,may,365.0,2,76,3,success,yes,50000.0,10000.0
2,31,technician,single,tertiary,no,320,no,no,cellular,8,jun,210.0,1,-1,0,unknown,no,35000.0,5000.0
3,53,blue-collar,married,primary,no,-120,no,no,telephone,16,nov,185.0,3,92,2,failure,no,40000.0,8000.0
4,32,services,single,"""secondary""",no,452,yes,no,cellular,30,July,102.0,4,-1,0,unknown,no,45000.0,12000.0
5,29,admin.,single,secondary,no,-112,yes,no,cellular,14,aug,309.0,2,-1,0,unknown,yes,60000.0,15000.0

In [390]:
df[df['Age of the customer']<0]

KeyError: ignored

In [346]:
df['Age of the customer'].loc[df['Age of the customer'] == -38] = 38
df['Age of the customer'].loc[df['Age of the customer'] == -36] = 36
df['Age of the customer']

<ipython-input-346-5b7bffe7d8c5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age of the customer'].loc[df['Age of the customer'] == -38] = 38
<ipython-input-346-5b7bffe7d8c5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age of the customer'].loc[df['Age of the customer'] == -36] = 36

ID
1      45
2      31
3      53
4      32
5      29
       ..
109    42
110    51
111    34
112    50
113    37
Name: Age of the customer, Length: 113, dtype: int64

In [347]:
df.rename(columns = {'??What is the job of the customer??': 'Customers Job'},inplace=True)
df.rename(columns = {'Does the customer have a housing loan ??': 'House Loan'},inplace=True)
df.rename(columns = {'Age of the customer': 'Customers Age'},inplace=True)
df.rename(columns = {'default': 'Credit Card'},inplace=True)
df.rename(columns = {'BALANCE': 'Balance'},inplace=True)
df.rename(columns = {'loan': 'Personal Loan'},inplace=True)
df.rename(columns = {'contact': 'Contact Type'},inplace=True)
df.rename(columns = {'MARITUL': 'Marital Status'},inplace=True)
df.rename(columns = {'EDUCTION': 'Education Level'},inplace=True)
df= df.rename(columns={"//day":"Day","//month":"Month","DURATION":"Duration","CAMPAIGN":"Ncampaign","pdays":"Pdays","previous":"Nprevious","poutcome":"Poutcome","deposit":"Deposit","income":"Income","loan_amount":"Loan_amount"})

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 1 to 113
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    113 non-null    int64
 1   Customers Job    113 non-null    object
 2   Marital Status   113 non-null    object
 3   Education Level  113 non-null    object
 4   Credit Card      113 non-null    object
 5   Balance          113 non-null    int64
 6   House Loan       113 non-null    object
 7   Personal Loan    113 non-null    object
 8   Contact Type     113 non-null    object
 9   Day              113 non-null    int64
 10  Month            113 non-null    object
 11  Duration         111 non-null    float64
 12  Ncampaign        113 non-null    object
 13  Pdays            113 non-null    int64
 14  Nprevious        113 non-null    int64
 15  Poutcome         113 non-null    object
 16  Deposit          113 non-null    object
 17  Income           111 non-null    float64
 18  Loan_amount      111 non-null    float64
dtypes: float64(3), int64(5), object(11)
memory usage: 17.7+ KB

In [349]:
df['Customers Job'] = df['Customers Job'].str.replace('-' , '',regex=True)
df['Customers Job'] = df['Customers Job'].str.replace('_' , '',regex=True)
df['Customers Job'] = df['Customers Job'].str.replace('.','',regex=True)
df['Customers Job'] = df['Customers Job'].str.title()
print(df['Customers Job'].value_counts())

Bluecollar      26
Technician      23
Management      19
Admin           17
Services         8
Retired          8
Student          6
Entrepreneur     4
Unemployed       2
Name: Customers Job, dtype: int64

In [350]:
df['Marital Status'] = df['Marital Status'].str.title()
print(df['Marital Status'].value_counts())

Married     58
Single      42
Divorced    13
Name: Marital Status, dtype: int64

In [351]:
df['Education Level'] = df['Education Level'].str.title()
df['Education Level'] = df['Education Level'].str.replace('"','',regex=True)
print(df['Education Level'].value_counts())

Tertiary     60
Secondary    38
Primary      15
Name: Education Level, dtype: int64

In [352]:
df['Credit Card'] = df['Credit Card'].str.title()
df['Credit Card'].unique()

array(['No'], dtype=object)

In [353]:
df['Balance']

ID
1      1025
2       320
3      -120
4       452
5      -112
       ...
109    -139
110    1231
111     344
112     589
113     155
Name: Balance, Length: 113, dtype: int64

In [354]:
df['House Loan'] = df['House Loan'].str.title()
df['House Loan'] = df['House Loan'].str.replace(' ','',regex=True)
print(df['House Loan'].value_counts())

Yes    73
No     40
Name: House Loan, dtype: int64

In [355]:
df['Personal Loan'] = df['Personal Loan'].str.title()
df['Personal Loan'] = df['Personal Loan'].str.replace(' ','',regex=True)
print(df['Personal Loan'].value_counts())

No     109
Yes      4
Name: Personal Loan, dtype: int64

In [356]:
df['Contact Type'] = df['Contact Type'].str.title()
df['Contact Type'] = df['Contact Type'].str.replace(' ','',regex=True)
print(df['Contact Type'].value_counts())

Cellular     109
Telephone      4
Name: Contact Type, dtype: int64

In [357]:
missing_values = df["Income"].isnull()
print(df["Income"][missing_values])

ID
11   NaN
35   NaN
Name: Income, dtype: float64

In [358]:
df["Income"] = df["Income"].fillna(0)

In [359]:
df["Income"] = df["Income"].astype("int")

In [360]:
technician_income = df[df["Customers Job"] == "Technician"]["Income"].mean()
print(f"Mean income for Technicians: {technician_income}")

Mean income for Technicians: 60652.17391304348

In [361]:
df.loc[11, "Income"] = 60652

In [362]:
technician_income = df[df["Customers Job"] == "Management"]["Income"].mean()
print(f"Mean income for Management: {technician_income}")

Mean income for Management: 70263.15789473684

In [363]:
df.loc[35, "Income"] = 70263

In [364]:
missing_values2 = df["Loan_amount"].isnull()
print(df["Loan_amount"][missing_values2])

ID
11   NaN
35   NaN
Name: Loan_amount, dtype: float64

In [365]:
df["Loan_amount"] = df["Loan_amount"].fillna(0)

In [366]:
df["Loan_amount"] = df["Loan_amount"].astype("int")

In [367]:
technician_income = df[df["Customers Job"] == "Technician"]["Loan_amount"].mean()
print(f"Mean loan amount for Technicians: {technician_income}")

Mean loan amount for Technicians: 13608.695652173914

In [368]:
df.loc[11, "Loan_amount"] = 13609

In [369]:
technician_income = df[df["Customers Job"] == "Management"]["Loan_amount"].mean()
print(f"Mean loan amount for Management: {technician_income}")

Mean loan amount for Management: 16947.36842105263

In [370]:
df.loc[35, "Loan_amount"] = 16947

In [371]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 1 to 113
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    113 non-null    int64
 1   Customers Job    113 non-null    object
 2   Marital Status   113 non-null    object
 3   Education Level  113 non-null    object
 4   Credit Card      113 non-null    object
 5   Balance          113 non-null    int64
 6   House Loan       113 non-null    object
 7   Personal Loan    113 non-null    object
 8   Contact Type     113 non-null    object
 9   Day              113 non-null    int64
 10  Month            113 non-null    object
 11  Duration         111 non-null    float64
 12  Ncampaign        113 non-null    object
 13  Pdays            113 non-null    int64
 14  Nprevious        113 non-null    int64
 15  Poutcome         113 non-null    object
 16  Deposit          113 non-null    object
 17  Income           113 non-null    int64
 18  Loan_amount      113 non-null    int64
dtypes: float64(1), int64(7), object(11)
memory usage: 21.7+ KB

In [372]:
df["Month"] = df["Month"].str.replace("April", "Apr")
df["Month"] = df["Month"].str.replace("November","Nov")
df["Month"] = df["Month"].str.replace("July","Jul")
df["Month"]= df["Month"].str.title()
df["Month"].unique()

array(['May', 'Jun', 'Nov', 'Jul', 'Aug', 'Feb', 'Jan', 'Apr', 'Sep',
       'Mar', 'Oct'], dtype=object)

In [373]:
df["Duration"].mean().astype(int)
df["Duration"]= df["Duration"].fillna(204)
df["Duration"]=df["Duration"].astype(int)

In [374]:
df["Ncampaign"]=df["Ncampaign"].replace("2,0","2")
df["Ncampaign"]=df["Ncampaign"].replace("3,0","3")
df["Ncampaign"]=df["Ncampaign"].replace("1,0","1")
df["Ncampaign"]=df["Ncampaign"].astype(int)

In [375]:
df["Poutcome"]= df["Poutcome"].str.title()
df['Poutcome'].unique()

array(['Success', 'Unknown', 'Failure'], dtype=object)

In [376]:
df["Deposit"]=df["Deposit"].str.title()
df['Deposit'].unique()

array(['Yes', 'No'], dtype=object)

In [377]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 1 to 113
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    113 non-null    int64
 1   Customers Job    113 non-null    object
 2   Marital Status   113 non-null    object
 3   Education Level  113 non-null    object
 4   Credit Card      113 non-null    object
 5   Balance          113 non-null    int64
 6   House Loan       113 non-null    object
 7   Personal Loan    113 non-null    object
 8   Contact Type     113 non-null    object
 9   Day              113 non-null    int64
 10  Month            113 non-null    object
 11  Duration         113 non-null    int64
 12  Ncampaign        113 non-null    int64
 13  Pdays            113 non-null    int64
 14  Nprevious        113 non-null    int64
 15  Poutcome         113 non-null    object
 16  Deposit          113 non-null    object
 17  Income           113 non-null    int64
 18  Loan_amount      113 non-null    int64
dtypes: int64(9), object(10)
memory usage: 21.7+ KB

In [378]:
df["Day"] = df["Day"].astype(str)

In [379]:
df["Date"] = df["Month"] + "-" + df["Day"]

In [380]:
df.pop("Day")

ID
1      12
2       8
3      16
4      30
5      14
       ..
109     6
110    29
111    14
112     6
113    13
Name: Day, Length: 113, dtype: object

In [381]:
df.pop("Credit Card")#Due to all of the data is no we deleted it

ID
1      No
2      No
3      No
4      No
5      No
       ..
109    No
110    No
111    No
112    No
113    No
Name: Credit Card, Length: 113, dtype: object

In [382]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 1 to 113
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    113 non-null    int64
 1   Customers Job    113 non-null    object
 2   Marital Status   113 non-null    object
 3   Education Level  113 non-null    object
 4   Balance          113 non-null    int64
 5   House Loan       113 non-null    object
 6   Personal Loan    113 non-null    object
 7   Contact Type     113 non-null    object
 8   Month            113 non-null    object
 9   Duration         113 non-null    int64
 10  Ncampaign        113 non-null    int64
 11  Pdays            113 non-null    int64
 12  Nprevious        113 non-null    int64
 13  Poutcome         113 non-null    object
 14  Deposit          113 non-null    object
 15  Income           113 non-null    int64
 16  Loan_amount      113 non-null    int64
 17  Date             113 non-null    object
dtypes: int64(8), object(10)
memory usage: 20.8+ KB

In [383]:
((df['Balance'] - df['Balance'].mean()) / df['Balance'].std()).sort_values()

ID
103   -1.450952
58    -1.450952
86    -1.355418
56    -1.344803
109   -1.344803
         ...
14     1.657087
13     1.718654
33     1.718654
93     1.805696
92     3.251443
Name: Balance, Length: 113, dtype: float64

In [384]:
df['Balance'].mean().astype(int)

494

In [385]:
df.loc[92, "Balance"] = 494

In [387]:
((df['Loan_amount'] - df['Loan_amount'].mean()) / df['Loan_amount'].std()).sort_values()

ID
53    -1.685464
106   -1.685464
46    -1.507558
58    -1.329653
2     -1.329653
         ...
105    1.694734
69     1.872639
112    1.872639
92     2.228449
42     2.228449
Name: Loan_amount, Length: 113, dtype: float64

ID
53    -1.685464
106   -1.685464
46    -1.507558
58    -1.329653
2     -1.329653
         ...
105    1.694734
69     1.872639
112    1.872639
92     2.228449
42     2.228449
Name: Loan_amount, Length: 113, dtype: float64

In [388]:
((df['Income'] - df['Income'].mean()) / df['Income'].std()).sort_values()

ID
36    -1.821285
16    -1.821285
106   -1.821285
53    -1.821285
46    -1.695676
         ...
84     1.632966
42     1.946989
69     1.946989
92     1.946989
112    1.946989
Name: Income, Length: 113, dtype: float64

In [389]:
((df['Duration'] - df['Duration'].mean()) / df['Duration'].std()).sort_values()

ID
36   -1.750564
16   -1.750564
83   -1.622138
73   -1.545083
91   -1.506555
        ...
9     1.768293
21    2.063672
1     2.063672
77    2.371893
49    2.461791
Name: Duration, Length: 113, dtype: float64